# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\donpe\OneDrive\LTU - Datorspelsprogrammeing\Programmering\Kurs 2 - C++\2 - Arrays, functions and pointers\D0037D_Assignment2_PJ\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
